Importer les bibliothèques suivantes :

In [96]:
import pandas as pd
import zipfile as zf
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
from functools import reduce
from urllib import request
import os

Importer le fichier en local :

In [97]:
request.urlretrieve ("https://s3-eu-west-1.amazonaws.com/static.oc-static.com/prod/courses/files/Parcours_data_scientist/Projet+-+Donn%C3%A9es+%C3%A9ducatives/Projet+Python_Dataset_Edstats_csv.zip", "Projet+Python_Dataset_Edstats_csv.zip")

('Projet+Python_Dataset_Edstats_csv.zip',
 <http.client.HTTPMessage at 0x7f1752f8a550>)

Renommer le fichier zip :

In [98]:
os.rename('Projet+Python_Dataset_Edstats_csv.zip', 'Dataset_Edstats.zip')

Créer un répertoire pour les données :

In [99]:
os.mkdir('Data_P2')

Dézipper le fichier zip contenant les données dans le dossier "Data_P2" :

In [100]:
with zf.ZipFile('Dataset_Edstats.zip', 'r') as f:
  f.extractall('Data_P2')

Lire les fichiers csv importés, et les affecter à des DataFrames :

In [101]:
df_CountrySeries = pd.read_csv("Data_P2/EdStatsCountry-Series.csv")
df_Country       = pd.read_csv("Data_P2/EdStatsCountry.csv")
df_Data          = pd.read_csv("Data_P2/EdStatsData.csv")
df_FooteNote     = pd.read_csv("Data_P2/EdStatsFootNote.csv")
df_Series        = pd.read_csv("Data_P2/EdStatsSeries.csv")

Afficher diverses statistiques récapitulatives des données (Moyenne, Max, Min …etc) pour chaque colonne :

In [103]:
df_Data.describe()

                   1970              1971  ...       2100  Unnamed: 69
count          72288.00          35537.00  ...   51436.00         0.00
mean      1974772449.59     4253638470.19  ...     694.03          nan
std     121168685352.02   180481446225.22  ...   25741.89          nan
min               -1.44             -1.59  ...      -0.45          nan
25%                0.89              8.85  ...       0.01          nan
50%                6.32             63.16  ...       0.22          nan
75%               62.51          56552.00  ...       4.03          nan
max   19039286948196.10 19864566419298.10  ... 3330483.54          nan

[8 rows x 66 columns]

Déterminer le nombre de lignes et de colonnes :

In [104]:
df_Data.shape

(886930, 70)

Afficher les 50 premières lignes :

In [105]:
df_Data.head(50)

   Country Name Country Code  ... 2100 Unnamed: 69
0    Arab World          ARB  ...  nan         nan
1    Arab World          ARB  ...  nan         nan
2    Arab World          ARB  ...  nan         nan
3    Arab World          ARB  ...  nan         nan
4    Arab World          ARB  ...  nan         nan
5    Arab World          ARB  ...  nan         nan
6    Arab World          ARB  ...  nan         nan
7    Arab World          ARB  ...  nan         nan
8    Arab World          ARB  ...  nan         nan
9    Arab World          ARB  ...  nan         nan
10   Arab World          ARB  ...  nan         nan
11   Arab World          ARB  ...  nan         nan
12   Arab World          ARB  ...  nan         nan
13   Arab World          ARB  ...  nan         nan
14   Arab World          ARB  ...  nan         nan
15   Arab World          ARB  ...  nan         nan
16   Arab World          ARB  ...  nan         nan
17   Arab World          ARB  ...  nan         nan
18   Arab World          ARB  ...  nan         nan
19   Arab World          ARB  ...  nan         nan
20   Arab World          ARB  ...  nan         nan
21   Arab World          ARB  ...  nan         nan
22   Arab World          ARB  ...  nan         nan
23   Arab World          ARB  ...  nan         nan
24   Arab World          ARB  ...  nan         nan
25   Arab World          ARB  ...  nan         nan
26   Arab World          ARB  ...  nan         nan
27   Arab World          ARB  ...  nan         nan
28   Arab World          ARB  ...  nan         nan
29   Arab World          ARB  ...  nan         nan
30   Arab World          ARB  ...  nan         nan
31   Arab World          ARB  ...  nan         nan
32   Arab World          ARB  ...  nan         nan
33   Arab World          ARB  ...  nan         nan
34   Arab World          ARB  ...  nan         nan
35   Arab World          ARB  ...  nan         nan
36   Arab World          ARB  ...  nan         nan
37   Arab World          ARB  ...  nan         nan
38   Arab World          ARB  ...  nan         nan
39   Arab World          ARB  ...  nan         nan
40   Arab World          ARB  ...  nan         nan
41   Arab World          ARB  ...  nan         nan
42   Arab World          ARB  ...  nan         nan
43   Arab World          ARB  ...  nan         nan
44   Arab World          ARB  ...  nan         nan
45   Arab World          ARB  ...  nan         nan
46   Arab World          ARB  ...  nan         nan
47   Arab World          ARB  ...  nan         nan
48   Arab World          ARB  ...  nan         nan
49   Arab World          ARB  ...  nan         nan

[50 rows x 70 columns]

Déterminer les informations sur la DataFrame, notamment le type et les colonnes d'index, les valeurs non NULL et l'utilisation de la mémoire :

In [106]:
df_Data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 886930 entries, 0 to 886929
Data columns (total 70 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   Country Name    886930 non-null  object
 1   Country Code    886930 non-null  object
 2   Indicator Name  886930 non-null  object
 3   Indicator Code  886930 non-null  object
 4   1970            72288 non-null   float64
 5   1971            35537 non-null   float64
 6   1972            35619 non-null   float64
 7   1973            35545 non-null   float64
 8   1974            35730 non-null   float64
 9   1975            87306 non-null   float64
 10  1976            37483 non-null   float64
 11  1977            37574 non-null   float64
 12  1978            37576 non-null   float64
 13  1979            36809 non-null   float64
 14  1980            89122 non-null   float64
 15  1981            38777 non-null   float64
 16  1982            37511 non-null   float64
 17  1983            38460 non-null   float64
 18  1984            38606 non-null   float64
 19  1985            90296 non-null   float64
 20  1986            39372 non-null   float64
 21  1987            38641 non-null   float64
 22  1988            38552 non-null   float64
 23  1989            37540 non-null   float64
 24  1990            124405 non-null  float64
 25  1991            74437 non-null   float64
 26  1992            75543 non-null   float64
 27  1993            75793 non-null   float64
 28  1994            77462 non-null   float64
 29  1995            131361 non-null  float64
 30  1996            76807 non-null   float64
 31  1997            73453 non-null   float64
 32  1998            84914 non-null   float64
 33  1999            118839 non-null  float64
 34  2000            176676 non-null  float64
 35  2001            123509 non-null  float64
 36  2002            124205 non-null  float64
 37  2003            130363 non-null  float64
 38  2004            128814 non-null  float64
 39  2005            184108 non-null  float64
 40  2006            140312 non-null  float64
 41  2007            137272 non-null  float64
 42  2008            134387 non-null  float64
 43  2009            142108 non-null  float64
 44  2010            242442 non-null  float64
 45  2011            146012 non-null  float64
 46  2012            147264 non-null  float64
 47  2013            137509 non-null  float64
 48  2014            113789 non-null  float64
 49  2015            131058 non-null  float64
 50  2016            16460 non-null   float64
 51  2017            143 non-null     float64
 52  2020            51436 non-null   float64
 53  2025            51436 non-null   float64
 54  2030            51436 non-null   float64
 55  2035            51436 non-null   float64
 56  2040            51436 non-null   float64
 57  2045            51436 non-null   float64
 58  2050            51436 non-null   float64
 59  2055            51436 non-null   float64
 60  2060            51436 non-null   float64
 61  2065            51436 non-null   float64
 62  2070            51436 non-null   float64
 63  2075            51436 non-null   float64
 64  2080            51436 non-null   float64
 65  2085            51436 non-null   float64
 66  2090            51436 non-null   float64
 67  2095            51436 non-null   float64
 68  2100            51436 non-null   float64
 69  Unnamed: 69     0 non-null       float64
dtypes: float64(66), object(4)
memory usage: 473.7+ MB

Afficher le nombre de pays

In [107]:
df_data_unique = df_Data["Country Name"].unique()

In [108]:
df_data_unique.size

242

Déterminer le taux de valeurs manquantes pour chaque colonne (en %) :

In [109]:
missing_rate = (df_Data.isna().sum()/df_Data.shape[0])*100
missing_rate

Country Name       0.00
Country Code       0.00
Indicator Name     0.00
Indicator Code     0.00
1970              91.85
                  ...
2085              94.20
2090              94.20
2095              94.20
2100              94.20
Unnamed: 69      100.00
Length: 70, dtype: float64

Groupez DataFrame par rapport aux indicateurs et les compter pour chaque colonnes

In [110]:
df_Data.groupby('Indicator Code').count()

                             Country Name  Country Code  ...  2100  Unnamed: 69
Indicator Code                                           ...
BAR.NOED.1519.FE.ZS                   242           242  ...     0            0
BAR.NOED.1519.ZS                      242           242  ...     0            0
BAR.NOED.15UP.FE.ZS                   242           242  ...     0            0
BAR.NOED.15UP.ZS                      242           242  ...     0            0
BAR.NOED.2024.FE.ZS                   242           242  ...     0            0
...                                   ...           ...  ...   ...          ...
UIS.XUNIT.USCONST.3.FSGOV             242           242  ...     0            0
UIS.XUNIT.USCONST.4.FSGOV             242           242  ...     0            0
UIS.XUNIT.USCONST.56.FSGOV            242           242  ...     0            0
XGDP.23.FSGOV.FDINSTADM.FFD           242           242  ...     0            0
XGDP.56.FSGOV.FDINSTADM.FFD           242           242  ...     0            0

[3665 rows x 69 columns]

Afficher le nombre d'indicateurs

In [111]:
df_Data['Indicator Code'].unique().size

3665

Supprimer les lignes avec tous les champs 'NAN'

In [112]:
df1_Data = df_Data.dropna(how='all',axis=0)
df1_Data.shape

(886930, 70)

Supprimer les colonnes avec tous les champs 'NAN'

In [113]:
df1_Data = df_Data.dropna(how='all',axis=1)
df1_Data.shape

(886930, 69)

Chercher les lignes qui contiennent les mot "male", "female", "parity index"

In [ ]:
df_Data_Series = df_Data['Indicator Name']
pd.set_option('max_colwidth', 150)

df_Data_mfp = df_Data_Series[df_Data_Series.str.contains(r'^(?=.* [m,M]ale)|(?=.* [f,F]emale)|(?=.*[p,P]arity index)')]

Supprimer les indicateurs qui contiennent les mots ‘male’, ‘female’ et ‘Index parity’ :

In [ ]:
df1_Data = df_Data.drop(index=df_Data_mfp.index)
df1_Data.shape

Réinitialiser les indexs après la suppression des lignes

In [ ]:
df1_Data = df1_Data.reset_index(drop=True)

supprimer les lignes avec le champs 'Country Name' qui ne sont pas des pays (ex : ‘World’, ‘Arab World’, ‘South Asia ….’) en réalisant une jointure entre deux DataFrames :

In [ ]:
# Renomer la colonne 'CountryCode' dans la dataFrame df_CountrySeries
df1_CountrySeries = df_CountrySeries.rename(columns={'CountryCode': 'Country Code'})

In [ ]:
# Faire une jointure entre deux dataframe pour ne plus afficher des continents comme pays
df1_Data = pd.merge(df1_Data,
                    df1_CountrySeries["Country Code"],
                    on ='Country Code',
                    how ='inner')

Supprimer les doublons suite à la jointure :

In [ ]:
df1_Data = df1_Data.drop_duplicates()

Sélectionner les Données qui contiennent des informations de 2000 à 2016 :

In [ ]:
df1_Data_17 = df1_Data[['Country Code', 'Country Name', 'Indicator Code', 'Indicator Name', '2000', '2001','2002','2003','2004','2005','2006','2007','2008','2009','2010','2011','2012','2013','2014','2015', '2016']]
df1_Data_17

Conservez uniquement les lignes avec au moins 5 valeurs non 'NaN'.

In [ ]:
df1_Data_17_drop = df1_Data_17.dropna(thresh=5)

In [ ]:
df1_Data_17_drop.shape

Arrondissez les valeurs des colonnes à deux décimales

In [ ]:
pd.options.display.float_format = '{:.2f}'.format

Calculer la moyenne pour chaque ligne d'indicateur de 2000 à 2016 :

In [ ]:
df1_Data_17_mean = df1_Data_17_drop
df1_Data_17_mean['Moyenne Indicateur 2000 2016'] = df1_Data_17_mean.mean(axis = 1)

Après l’exploration de la liste des indicateurs, ci-dessous ces derniers qui vont nous permettre de mieux analyser et cibler les objectifs fixer par le centre de formation ‘academy’:

In [ ]:
# Inscription dans l'enseignement secondaire (institutions privées)
v_indicateur_secondary = "Enrolment in secondary education, private institutions, both sexes (number)"
v_indicateur_secondary_total = "Enrolment in secondary education, both sexes (number)"

# Nombre d'enseignants -  Enseignement secondaire
v_indicateur_ts = 'Teachers in secondary education, both sexes (number)'

#Les indicateurs pour calculer les inscriptions dans l'enseignement supérieur (institutions privées) 
v_indicateur_tp = "Percentage of enrolment in tertiary education in private institutions (%)"
v_indicateur_tap = "Enrolment in tertiary education, all programmes, both sexes (number)"

# Nombre d'enseignants de l'enseignement supérieur
v_indicateur_tt = 'Teachers in tertiary education programmes, both sexes (number)'

# Utilisateur d'internet
v_indicateur_internet = "Internet users (per 100 people)"

# Population total
v_indicateur_pop ="Population, total"

# Croissance démographique annuelle 
v_indicateur_pg = "Population growth (annual %)"

# Le revenu national brut (RNB) par habitant en parité de pouvoir d'achat (PPA)
v_indicateur_RNB = 'GNI per capita, PPP (current international $)'

# les rémunérations du personnel et les dépenses courantes en % des dépenses totales dans les établissements publics secondaires (%)
v_indicateur_remuneration = 'All staff compensation as % of total expenditure in secondary public institutions (%)'
v_indicateur_depense      = 'Current expenditure other than staff compensation as % of total expenditure in tertiary public institutions (%)'

# les rémunérations du personnel et les dépenses courantes en % des dépenses totales dans les établissements publics supérieur (%)
v_indicateur_remuneration_t = 'All staff compensation as % of total expenditure in tertiary public institutions (%)'
v_indicateur_depense_t      = 'Current expenditure other than staff compensation as % of total expenditure in secondary public institutions (%)'

# Moyenne des salaires statutaires annuels des enseignants du secondaire dans les établissements publics en USD
v_indicateur_s_ensei1 = 'Annual statutory teacher salaries in public institutions in USD. Lower Secondary. Starting salary'
v_indicateur_s_ensei2 = 'Annual statutory teacher salaries in public institutions in USD. Lower Secondary. Top of scale'
v_indicateur_s_ensei3 = 'Annual statutory teacher salaries in public institutions in USD. Lower Secondary. 15 years of experience'

# Moyenne des salaires statutaires annuels des enseignants du supérieur dans les établissements publics en USD
v_indicateur_t_ensei1 = 'Annual statutory teacher salaries in public institutions in USD. Upper Secondary. Starting salary'
v_indicateur_t_ensei2 = 'Annual statutory teacher salaries in public institutions in USD. Upper Secondary. Top of scale'
v_indicateur_t_ensei3 = 'Annual statutory teacher salaries in public institutions in USD. Upper Secondary. 15 years of experience'

# Taux de réussite du secondaire
# v_indicateur_sec_compl = 'Gross graduation ratio from lower secondary education, both sexes (%)'
v_indicateur_sec_compl = 'Lower secondary completion rate, both sexes (%)'

# Diplômés de l'enseignement supérieur
v_indicateur_t_grdt = 'Graduates from tertiary education, both sexes (number)'

Afficher le graphique des inscriptions dans l'enseignement secondaire aux écoles privées en ordre décroissant (Moyenne de 2000 à 2016) :

In [ ]:
sns.set_style("darkgrid")

df1_Data_17_secondary = df1_Data_17_mean[df1_Data_17_mean["Indicator Name"] == v_indicateur_secondary]

# trier la moyenne en ordre décroissant
df1_Data_17_secondary = df1_Data_17_secondary.sort_values(by=['Moyenne Indicateur 2000 2016'],ascending=False)
df1_Data_17_secondary = df1_Data_17_secondary.head(15)

labels_s = df1_Data_17_secondary['Country Name'].values

xs = np.arange(len(labels_s)) 

width = 0.50  # the width of the bars

fig, ax = plt.subplots()

rects1 = ax.bar(xs, df1_Data_17_secondary['Moyenne Indicateur 2000 2016']/1000000, 
                width, label='Enrolment in secondary',color='#CA0000', edgecolor="black", align='center')

# Ajouter les annotations sur les barres
for p in ax.patches:
    width, height = p.get_width(), p.get_height()
    x, y = p.get_xy() 
    plt.annotate(np.round(p.get_height(),decimals=2),
                (p.get_x()+p.get_width()/2, p.get_height()),
                ha='center',
                va='center',
                xytext=(0, 10),
                textcoords='offset points',
                fontsize = 15,
                #  rotation='vertical',
                )

# Ajouter des textes aux labels, titre etc.
fig.set_size_inches(15, 6)
ax.set_ylabel('Million', fontsize=18)
ax.set_title('Enrolment in secondary education (Private institutions) - Average from 2000 to 2016\n', fontsize=18)
ax.set_xticks(xs)
ax.set_xticklabels(labels_s)
plt.xticks(rotation='90', fontsize=16)
plt.yticks(fontsize=15)
plt.xlabel('Country Name', fontsize=22)

fig.tight_layout()

Noter les pays selon le nombre d'inscriptions dans l'enseignement secondaire (institutions privés) :

In [ ]:
df1_secondary_coef = df1_Data_17_secondary

# Calculer la note de l'indicateur "Inscription dans l'enseignement secondaire"
df1_secondary_coef['Coefficient'] = 3
df1_secondary_coef['Score'] = 0
df1_secondary_coef['Resultat_secondary'] = 0

note = len(df1_Data_17_secondary['Country Name'])

for i in range (len(df1_Data_17_secondary['Country Name'])):
  # if  (df1_Data_17_secondary['Country Name'].values[i] = df1_Data_17_secondary['Country Name'].values[i]): 
  df1_secondary_coef['Score'].values[i] = note
  df1_secondary_coef['Resultat_secondary'].values[i] = df1_secondary_coef['Coefficient'].values[i] * note
  note=note-1

Pour afficher le graphique des inscriptions dans l'enseignement supérieur, il faut calculer cet indicateur (car ce dernier ne figure pas dans la liste), pour cela nous avons besoin de deux indicateurs :


---


Pour le créer nous avons besoin de deux indicateurs : 


*   *Percentage of enrolment in tertiary education in private institutions (%*)
*   *Enrolment in tertiary education, all programmes, both sexes (number)*

In [ ]:
df1_Data_17_tp  = df1_Data_17_mean[df1_Data_17_mean["Indicator Name"] == v_indicateur_tp]
df1_Data_17_tap = df1_Data_17_mean[df1_Data_17_mean["Indicator Name"] == v_indicateur_tap]

# Faire une jointure entre deux dataframe pour ne plus afficher des continents comme des pays
df1_Data_17_tertiary = pd.merge(df1_Data_17_tp,
                                      df1_Data_17_tap[['Country Name', 'Indicator Name','Moyenne Indicateur 2000 2016']],
                                      on ='Country Name',
                                      how ='inner')
df1_Data_17_tertiary['Enrolment_Teritiary'] = df1_Data_17_tertiary['Moyenne Indicateur 2000 2016_x']/100 * df1_Data_17_tertiary['Moyenne Indicateur 2000 2016_y']

Afficher le graphique des inscriptions dans l'enseignement supérieur aux écoles privées en ordre décroissant (Moyenne de 2000 à 2016) :

In [ ]:
sns.set_style("darkgrid")

# trier la moyenne en ordre décroissant
df1_Data_17_tertiary = df1_Data_17_tertiary.sort_values(by=['Enrolment_Teritiary'],ascending=False)
df1_Data_17_tertiary = df1_Data_17_tertiary.head(15)

labels_t = df1_Data_17_tertiary['Country Name'].values

xt = np.arange(len(labels_t)) 

width = 0.50  # the width of the bars

fig, ax = plt.subplots()

rects2 = ax.bar(xt, df1_Data_17_tertiary['Enrolment_Teritiary']/1000000, 
                width, label='Enrolment in secondary',color='#86FFFA', edgecolor="black", align='center')

# Ajouter les annotations sur les barres
for p in ax.patches:
    width, height = p.get_width(), p.get_height()
    x, y = p.get_xy() 
    plt.annotate(np.round(p.get_height(),decimals=2),
                (p.get_x()+p.get_width()/2, p.get_height()),
                ha='center',
                va='center',
                xytext=(0, 10),
                textcoords='offset points',
                fontsize = 15,
                #  rotation='vertical',
                )

# Ajouter des textes aux labels, titre etc.
fig.set_size_inches(15, 6)
ax.set_ylabel('Million', fontsize=18)
ax.set_title('Enrolment in tertiary education (private institutions) - Average from 2000 to 2016\n', fontsize=18)
ax.set_xticks(xt)
ax.set_xticklabels(labels_t)
plt.xticks(rotation='90', fontsize=16)
plt.yticks(fontsize=15)
plt.xlabel('Country Name', fontsize=22)

fig.tight_layout()

Noter les pays selon le nombre d'inscriptions dans l'enseignement supérieur (institutions privés) :

In [ ]:
df1_tertiary_coef = df1_Data_17_tertiary

# Calculer la note de l'indicateur "Inscription dans l'enseignement supérieur"
df1_tertiary_coef['Coefficient'] = 3
df1_tertiary_coef['Score'] = 0
df1_tertiary_coef['Resultat_tertiary'] = 0

note = len(df1_Data_17_tertiary['Country Name'])

for i in range (len(df1_Data_17_tertiary['Country Name'])):
  df1_tertiary_coef['Score'].values[i] = note
  df1_tertiary_coef['Resultat_tertiary'].values[i] = df1_tertiary_coef['Coefficient'].values[i] * note
  note = note-1

Faire une jointure entre les inscriptions de l'enseignement secondaire et supérieur.

In [ ]:
# Faire une jointure entre deux dataframe pour conserver que les pays avec un taux élevé des inscriptions  
df1_secondary_tertiary = pd.merge(df1_Data_17_secondary['Country Name'],
                                      df1_Data_17_tertiary['Country Name'],
                                      on ='Country Name',
                                      how ='inner')

Graphique des utilisateurs d'internet par pays :

In [ ]:
sns.set_style("darkgrid")

df1_Data_17_internet = df1_Data_17_mean[df1_Data_17_mean["Indicator Name"] == v_indicateur_internet]

# Faire une jointure entre deux dataframe pour conserver que les pays avec un taux élevé des inscriptions  
df1_Data_17_internet_merge = pd.merge(df1_Data_17_internet,
                                      df1_secondary_tertiary['Country Name'],
                                      on ='Country Name',
                                      how ='inner')

df1_Data_17_internet_merge

# trier la moyenne en ordre décroissant
df1_Data_17_internet_merge = df1_Data_17_internet_merge.sort_values(by=['Moyenne Indicateur 2000 2016'],ascending=False)

labels_i = df1_Data_17_internet_merge['Country Name'].values


xi = np.arange(len(labels_i)) 


width = 0.50  # the width of the bars

fig, ax = plt.subplots()

rects3 = ax.bar(xi,df1_Data_17_internet_merge['Moyenne Indicateur 2000 2016'], 
                width, color='orange', edgecolor="black", align='center')


# Ajouter les annotations sur les barres
for p in ax.patches:
    width, height = p.get_width(), p.get_height()
    x, y = p.get_xy() 
    plt.annotate(np.round(p.get_height(),decimals=2),
                (p.get_x()+p.get_width()/2, p.get_height()),
                ha='center',
                va='center',
                xytext=(0, 10),
                textcoords='offset points',
                fontsize = 15,
                #  rotation='vertical',
                )

# Ajouter des textes aux labels, titre etc.
fig.set_size_inches(15, 6)
ax.set_ylabel('In %', fontsize=18)
ax.set_title('Internet users - Average from 2000 to 2016\n', fontsize=18)
ax.set_xticks(xi)
ax.set_xticklabels(labels_i)
plt.xticks(rotation='90', fontsize=16)
plt.yticks(fontsize=15)
plt.xlabel('Country Name', fontsize=22)

fig.tight_layout()

Noter les pays selon le pourcentage des utilisateurs d'internet :

In [ ]:
df1_s_internet_coef = df1_Data_17_internet_merge

# Calculer la note
df1_s_internet_coef['Coefficient'] = 1
df1_s_internet_coef['Score'] = 0
df1_s_internet_coef['Resultat_internet'] = 0

note = len(df1_Data_17_internet_merge['Country Name'])

for i in range (len(df1_Data_17_internet_merge['Country Name'])):
  df1_s_internet_coef['Score'].values[i] = note
  df1_s_internet_coef['Resultat_internet'].values[i] = df1_s_internet_coef['Coefficient'].values[i] * note
  note=note-1

Graphique du nombre de la population totale par pays

In [ ]:
sns.set_style("darkgrid")

df1_Data_17_pop = df1_Data_17_mean[df1_Data_17_mean["Indicator Name"] == v_indicateur_pop]

# Faire une jointure entre deux dataframe pour conserver que les pays avec un taux élevé des inscriptions  
df1_Data_17_pop_merge = pd.merge(df1_Data_17_pop,
                                      df1_secondary_tertiary[['Country Name']],
                                      on ='Country Name',
                                      how ='inner')

# trier la moyenne en ordre décroissant
df1_Data_17_pop_merge = df1_Data_17_pop_merge.sort_values(by=['2016'],ascending=False)

labels_pop = df1_Data_17_pop_merge['Country Name'].values


x_pop = np.arange(len(labels_pop)) 


width = 0.50  # the width of the bars

fig, ax = plt.subplots()


rects4 = ax.bar(x_pop,df1_Data_17_pop_merge['2016']/1000000, 
                width, color='#DCBDE8', edgecolor="black", align='center')

# Ajouter les annotations sur les barres
for p in ax.patches:
    width, height = p.get_width(), p.get_height()
    x, y = p.get_xy() 
    plt.annotate(np.round(p.get_height(),decimals=2),
                (p.get_x()+p.get_width()/2, p.get_height()),
                ha='center',
                va='center',
                xytext=(0, 10),
                textcoords='offset points',
                fontsize = 15,
                #  rotation='vertical',
                )

# Ajouter des textes aux labels, titre etc.
fig.set_size_inches(15, 6)
ax.set_ylabel('Million', fontsize=18)
ax.set_title('Population, total - 2016\n', fontsize=18)
ax.set_xticks(x_pop)
ax.set_xticklabels(labels_pop)
plt.xticks(rotation='90', fontsize=16)
plt.yticks(fontsize=15)
plt.xlabel('Country Name', fontsize=22)

fig.tight_layout()

Noter les pays selon le nombre total de la population

In [ ]:
df1_pop_coef = df1_Data_17_pop_merge

# Calculer la note
df1_pop_coef['Coefficient'] = 2
df1_pop_coef['Score'] = 0
df1_pop_coef['Resultat_pop'] = 0

note = len(df1_Data_17_pop_merge['Country Name'])

for i in range (len(df1_Data_17_pop_merge['Country Name'])):
  df1_pop_coef['Score'].values[i] = note
  df1_pop_coef['Resultat_pop'].values[i] = df1_pop_coef['Coefficient'].values[i] * note
  note=note-1

Graphique de la croissance démographique par pays

In [ ]:
sns.set_style("darkgrid")

df1_Data_17_pg = df1_Data_17_mean[df1_Data_17_mean["Indicator Name"] == v_indicateur_pg]

# Faire une jointure entre deux dataframe pour conserver que les pays avec un taux élevé des inscriptions  
df1_Data_17_pg_merge = pd.merge(df1_Data_17_pg,
                                      df1_secondary_tertiary[['Country Name']],
                                      on ='Country Name',
                                      how ='inner')

# trier la moyenne en ordre décroissant
df1_Data_17_pg_merge = df1_Data_17_pg_merge.sort_values(by=['Moyenne Indicateur 2000 2016'],ascending=False)

labels_pg = df1_Data_17_pg_merge['Country Name'].values


xpg = np.arange(len(labels_pg)) 


width = 0.50  # the width of the bars

fig, ax = plt.subplots()


rects5 = ax.bar(xpg,df1_Data_17_pg_merge['Moyenne Indicateur 2000 2016'], 
                width, color='#81FC30', edgecolor="black", align='center')

# Ajouter les annotations sur les barres
for p in ax.patches:
    width, height = p.get_width(), p.get_height()
    x, y = p.get_xy() 
    plt.annotate(np.round(p.get_height(),decimals=2),
                (p.get_x()+p.get_width()/2, p.get_height()),
                ha='center',
                va='center',
                xytext=(0, 10),
                textcoords='offset points',
                fontsize = 15,
                #  rotation='vertical',
                )

# Ajouter des textes aux labels, titre etc.
fig.set_size_inches(15, 6)
ax.set_ylabel('In %', fontsize=18)
ax.set_title('Population growth - Average from 2000 to 2016\n', fontsize=18)
ax.set_xticks(xpg)
ax.set_xticklabels(labels_pg)
plt.xticks(rotation='90', fontsize=16)
plt.yticks(fontsize=15)
plt.xlabel('Country Name', fontsize=22)

fig.tight_layout()

Noter les pays selon le pourcentage de la croissance démographique

In [ ]:
df1_s_pg_coef = df1_Data_17_pg_merge

# Calculer la note
df1_s_pg_coef['Coefficient'] = 2
df1_s_pg_coef['Score'] = 0
df1_s_pg_coef['Resultat_pg'] = 0

note = len(df1_Data_17_pg_merge['Country Name'])

for i in range (len(df1_Data_17_pg_merge['Country Name'])):
  df1_s_pg_coef['Score'].values[i] = note
  df1_s_pg_coef['Resultat_pg'].values[i] = df1_s_pg_coef['Coefficient'].values[i] * note
  note=note-1

 Le revenu national brut (RNB) par habitant en parité de pouvoir d'achat (PPA)

In [ ]:
sns.set_style("darkgrid")

df1_Data_17_RNB = df1_Data_17_mean[df1_Data_17_mean["Indicator Name"] == v_indicateur_RNB]

# Faire une jointure entre deux dataframe pour conserver que les pays avec un taux élevé des inscriptions  
df1_Data_17_RNB = pd.merge(df1_Data_17_RNB,
                                      df1_secondary_tertiary['Country Name'],
                                      on ='Country Name',
                                      how ='inner')

# # trier la moyenne en ordre décroissant
df1_Data_17_RNB = df1_Data_17_RNB.sort_values(by=['Moyenne Indicateur 2000 2016'],ascending=False)


labels_RNB = df1_Data_17_RNB['Country Name'].values

x_RNB = np.arange(len(labels_RNB)) 

width = 0.50  # the width of the bars

fig, ax = plt.subplots()


rects6 = ax.bar(x_RNB,df1_Data_17_RNB['Moyenne Indicateur 2000 2016']/1000, 
                width, color='yellow', edgecolor="black", align='center')

# Ajouter les annotations sur les barres
for p in ax.patches:
    width, height = p.get_width(), p.get_height()
    x, y = p.get_xy() 
    plt.annotate(np.round(p.get_height(),decimals=2),
                (p.get_x()+p.get_width()/2, p.get_height()),
                ha='center',
                va='center',
                xytext=(0, 10),
                textcoords='offset points',
                fontsize = 15,
                #  rotation='vertical',
                )

# Ajouter des textes aux labels, titre etc.
fig.set_size_inches(15, 6)
ax.set_ylabel('K$', fontsize=18)
ax.set_title('GNI per capita, PPP (current international $) - Average from 2000 to 2016\n', fontsize=18)
ax.set_xticks(x_RNB)
ax.set_xticklabels(labels_RNB)
plt.xticks(rotation='90', fontsize=16)
plt.yticks(fontsize=15)
plt.xlabel('Country Name', fontsize=22)

fig.tight_layout()

Noter les pays selon le revenu national brut (**RNB**)

In [ ]:
df1_RNB_coef = df1_Data_17_RNB

# Calculer la note
df1_RNB_coef['Coefficient'] = 2
df1_RNB_coef['Score'] = 0
df1_RNB_coef['Resultat_RNB'] = 0

note = len(df1_Data_17_RNB['Country Name'])

for i in range (len(df1_Data_17_RNB['Country Name'])):
  df1_RNB_coef['Score'].values[i] = note
  df1_RNB_coef['Resultat_RNB'].values[i] = df1_RNB_coef['Coefficient'].values[i] * note
  note=note-1

Les rémunérations du personnel en % des dépenses totales dans les établissements publics secondaires (%)

In [ ]:
sns.set_style("darkgrid")

df1_Data_17_remuneration_s = df1_Data_17_mean[df1_Data_17_mean["Indicator Name"] == v_indicateur_remuneration]

# Faire une jointure entre deux dataframe pour conserver que les pays avec un taux élevé des inscriptions  
df1_Data_17_remuneration_s = pd.merge(df1_Data_17_remuneration_s,
                                      df1_secondary_tertiary['Country Name'],
                                      on ='Country Name',
                                      how ='inner')

# # trier la moyenne en ordre décroissant
df1_Data_17_remuneration_s = df1_Data_17_remuneration_s.sort_values(by=['Moyenne Indicateur 2000 2016'],ascending=True)
# df1_Data_17_remuneration_s = df1_Data_17_remuneration_s.head(15)

labels_rd_s = df1_Data_17_remuneration_s['Country Name'].values

xrd_s = np.arange(len(labels_rd_s)) 

width = 0.50  # the width of the bars

fig, ax = plt.subplots()

rects7 = ax.bar(xrd_s,df1_Data_17_remuneration_s['Moyenne Indicateur 2000 2016'], 
                width, color='#CA0000', edgecolor="black", align='center')

# Ajouter les annotations sur les barres
for p in ax.patches:
    width, height = p.get_width(), p.get_height()
    x, y = p.get_xy() 
    plt.annotate(np.round(p.get_height(),decimals=2),
                (p.get_x()+p.get_width()/2, p.get_height()),
                ha='center',
                va='center',
                xytext=(0, 10),
                textcoords='offset points',
                fontsize = 15,
                #  rotation='vertical',
                )

# Ajouter des textes aux labels, titre etc.
fig.set_size_inches(15, 6)
ax.set_ylabel('In %', fontsize=18)
ax.set_title('All staff compensation as % of total expenditure in secondary public institutions - Average from 2000 to 2016\n', fontsize=18)
ax.set_xticks(xrd_s)
ax.set_xticklabels(labels_rd_s)
plt.xticks(rotation='90', fontsize=16)
plt.yticks(fontsize=15)
plt.xlabel('Country Name', fontsize=22)

fig.tight_layout()

Noter les pays selon les dépenses des rémunérations du personnel en % des dépenses totales - secondaire

In [ ]:
df1_s_rd_coef = df1_Data_17_remuneration_s

# Calculer la note
df1_s_rd_coef['Coefficient'] = 1
df1_s_rd_coef['Score'] = 0
df1_s_rd_coef['Resultat_remuneration_s'] = 0

note = len(df1_Data_17_remuneration_s['Country Name'])

for i in range (len(df1_Data_17_remuneration_s['Country Name'])):
  df1_s_rd_coef['Score'].values[i] = note
  df1_s_rd_coef['Resultat_remuneration_s'].values[i] = df1_s_rd_coef['Coefficient'].values[i] * note
  note=note-1

les rémunérations du personnel en % des dépenses totales dans les établissements publics tertiaire

In [ ]:
sns.set_style("darkgrid")

df1_Data_17_remuneration_t = df1_Data_17_mean[df1_Data_17_mean["Indicator Name"] == v_indicateur_remuneration_t]

# Faire une jointure entre deux dataframe pour conserver que les pays avec un taux élevé des inscriptions  
df1_Data_17_rd_merge_t = pd.merge(df1_Data_17_remuneration_t,
                                      df1_secondary_tertiary[['Country Name']],
                                      on ='Country Name',
                                      how ='inner')

# # trier la moyenne en ordre décroissant
df1_Data_17_rd_merge_t = df1_Data_17_rd_merge_t.sort_values(by=['Moyenne Indicateur 2000 2016'],ascending=True)

labels_rd_t = df1_Data_17_rd_merge_t['Country Name'].values

x_rd_t = np.arange(len(labels_rd_t)) 

width = 0.50  # the width of the bars

fig, ax = plt.subplots()

rects8 = ax.bar(x_rd_t,df1_Data_17_rd_merge_t['Moyenne Indicateur 2000 2016'], 
                width, color='#86FFFA', edgecolor="black", align='center')

# Ajouter les annotations sur les barres
for p in ax.patches:
    width, height = p.get_width(), p.get_height()
    x, y = p.get_xy() 
    plt.annotate(np.round(p.get_height(),decimals=2),
                (p.get_x()+p.get_width()/2, p.get_height()),
                ha='center',
                va='center',
                xytext=(0, 10),
                textcoords='offset points',
                fontsize = 15,
                #  rotation='vertical',
                )

# Ajouter des textes aux labels, titre etc.
fig.set_size_inches(15, 6)
ax.set_ylabel('In %', fontsize=18)
ax.set_title('All staff compensation as % of total expenditure in Tertiary public institutions - Average from 2000 to 2016\n', fontsize=18)
ax.set_xticks(x_rd_t)
ax.set_xticklabels(labels_rd_t)
plt.xticks(rotation='90', fontsize=16)
plt.yticks(fontsize=15)
plt.xlabel('Country Name', fontsize=22)


fig.tight_layout()

Noter les pays selon les dépenses des rémunérations du personnel en % des dépenses totales - Tertiaire

In [ ]:
df1_t_rd_coef = df1_Data_17_rd_merge_t

# Calculer la note
df1_t_rd_coef['Coefficient'] = 1
df1_t_rd_coef['Score'] = 0
df1_t_rd_coef['Resultat_remuneration_t'] = 0

note = len(df1_Data_17_rd_merge_t['Country Name'])

for i in range (len(df1_Data_17_rd_merge_t['Country Name'])):
  df1_t_rd_coef['Score'].values[i] = note
  df1_t_rd_coef['Resultat_remuneration_t'].values[i] = df1_t_rd_coef['Coefficient'].values[i] * note
  note=note-1

Salaire moyen statutaires annuel des enseignants de l'enseignement secondaire dans les établissements publics en K.USD

In [ ]:
sns.set_style("darkgrid")

df1_Data_17_s_ensei1 = df1_Data_17_mean[df1_Data_17_mean["Indicator Name"] == v_indicateur_s_ensei1]
df1_Data_17_s_ensei2 = df1_Data_17_mean[df1_Data_17_mean["Indicator Name"] == v_indicateur_s_ensei2]
df1_Data_17_s_ensei3 = df1_Data_17_mean[df1_Data_17_mean["Indicator Name"] == v_indicateur_s_ensei3]

# Jointure de plusieurs dataframes
data_frames = [df1_Data_17_s_ensei1[['Country Name','Moyenne Indicateur 2000 2016']], 
               df1_Data_17_s_ensei2[['Country Name','Moyenne Indicateur 2000 2016']], 
               df1_Data_17_s_ensei3[['Country Name','Moyenne Indicateur 2000 2016']]]
df1_Data_17_ens_s_merge = reduce(lambda  left,right: pd.merge(left,right,on=['Country Name'],
                                            how='inner'), data_frames)

# Faire une jointure entre deux dataframe pour conserver que les pays avec un taux élevé des inscriptions  
df1_Data_17_ens_s_merge = pd.merge(df1_Data_17_ens_s_merge,
                                      df1_secondary_tertiary['Country Name'],
                                      on ='Country Name',
                                      how ='inner')

df1_Data_17_ens_s_merge['Salaire_moyen']=df1_Data_17_ens_s_merge.mean(axis=1) 

# trier la moyenne en ordre décroissant
df1_Data_17_ens_s_merge = df1_Data_17_ens_s_merge.sort_values(by=['Salaire_moyen'],ascending=False)
df1_Data_17_ens_s_merge = df1_Data_17_ens_s_merge.head(15)

labels_ensei_s = df1_Data_17_ens_s_merge['Country Name'].values


x_ensei_s = np.arange(len(labels_ensei_s)) 


width = 0.50  # the width of the bars

fig, ax = plt.subplots()

rects9 = ax.bar(x_ensei_s,df1_Data_17_ens_s_merge['Salaire_moyen']/1000, 
                width, color='#CA0000', edgecolor="black", align='center')

# Ajouter les annotations sur les barres
for p in ax.patches:
    width, height = p.get_width(), p.get_height()
    x, y = p.get_xy() 
    plt.annotate(np.round(p.get_height(),decimals=2),
                (p.get_x()+p.get_width()/2, p.get_height()),
                ha='center',
                va='center',
                xytext=(0, 10),
                textcoords='offset points',
                fontsize = 15,
                #  rotation='vertical',
                )

# Ajouter des textes aux labels, titre etc.
fig.set_size_inches(15, 6)
ax.set_ylabel('k$', fontsize=18)
ax.set_title('Annual statutory teacher salaries in public institutions in USD - Secondary - Average from 2000 to 2016\n', fontsize=18)
ax.set_xticks(x_ensei_s)
ax.set_xticklabels(labels_ensei_s)
plt.xticks(rotation='90', fontsize=16)
plt.yticks(fontsize=15)
plt.xlabel('Country Name', fontsize=22)


fig.tight_layout()

Noter les pays selon le salaire moyen statutaires annuel des enseignants - Secondaire

In [ ]:
df1_s_ens_coef = df1_Data_17_ens_s_merge

# Calculer la note
df1_s_ens_coef['Coefficient'] = 2
df1_s_ens_coef['Score'] = 0
df1_s_ens_coef['Resultat_salaire_s'] = 0

note = len(df1_Data_17_ens_s_merge['Country Name'])

for i in range (len(df1_Data_17_ens_s_merge['Country Name'])):
  # if  (df1_Data_17_ens_s_merge['Country Name'].values[i] = df1_Data_17_ens_s_merge['Country Name'].values[i]): 
  df1_s_ens_coef['Score'].values[i] = note
  df1_s_ens_coef['Resultat_salaire_s'].values[i] = df1_s_ens_coef['Coefficient'].values[i] * note
  note=note-1

Salaire moyen statutaires annuel des enseignants de l'enseignement supérieur dans les établissements publics en K.USD

In [ ]:
sns.set_style("darkgrid")

df1_Data_17_t_ensei1 = df1_Data_17_mean[df1_Data_17_mean["Indicator Name"] == v_indicateur_t_ensei1]
df1_Data_17_t_ensei2 = df1_Data_17_mean[df1_Data_17_mean["Indicator Name"] == v_indicateur_t_ensei2]
df1_Data_17_t_ensei3 = df1_Data_17_mean[df1_Data_17_mean["Indicator Name"] == v_indicateur_t_ensei3]

# Jointure d'une liste de dataframe
# data_frames = [df1_Data_17_t_ensei1, df1_Data_17_t_ensei2, df1_Data_17_t_ensei3,df1_Data_17_t_ensei4, df1_Data_17_t_ensei5, df1_Data_17_t_ensei6]
data_frames = [df1_Data_17_t_ensei1[['Country Name','Moyenne Indicateur 2000 2016']], 
               df1_Data_17_t_ensei2[['Country Name','Moyenne Indicateur 2000 2016']], 
               df1_Data_17_t_ensei3[['Country Name','Moyenne Indicateur 2000 2016']]]
df1_Data_17_ens_t_merge = reduce(lambda  left,right: pd.merge(left,right,on=['Country Name'],
                                            how='inner'), data_frames)

# Faire une jointure entre deux dataframe pour conserver que les pays avec un taux élevé des inscriptions  
df1_Data_17_ens_t_merge = pd.merge(df1_Data_17_ens_t_merge,
                                      df1_secondary_tertiary[['Country Name']],
                                      on ='Country Name',
                                      how ='inner')

df1_Data_17_ens_t_merge['Salaire_moyen']=df1_Data_17_ens_t_merge.mean(axis=1)

# trier la moyenne en ordre décroissant
df1_Data_17_ens_t_merge = df1_Data_17_ens_t_merge.sort_values(by=['Salaire_moyen'],ascending=False)

labels_ensei_t = df1_Data_17_ens_t_merge['Country Name'].values


x_ensei_t = np.arange(len(labels_ensei_t)) 


width = 0.50  # the width of the bars

fig, ax = plt.subplots()


rects10 = ax.bar(x_ensei_t,df1_Data_17_ens_t_merge['Salaire_moyen']/1000, 
                width, color='#86FFFA', edgecolor="black", align='center')

# Ajouter les annotations sur les barres
for p in ax.patches:
    width, height = p.get_width(), p.get_height()
    x, y = p.get_xy() 
    plt.annotate(np.round(p.get_height(),decimals=2),
                (p.get_x()+p.get_width()/2, p.get_height()),
                ha='center',
                va='center',
                xytext=(0, 10),
                textcoords='offset points',
                fontsize = 15,
                #  rotation='vertical',
                )

# Ajouter des textes aux labels, titre etc.
fig.set_size_inches(15, 6)
ax.set_ylabel('k$', fontsize=18)
ax.set_title('Annual statutory teacher salaries in public institutions - Tertiary - Average from 2000 to 2016\n', fontsize=18)
ax.set_xticks(x_ensei_t)
ax.set_xticklabels(labels_ensei_t)
plt.xticks(rotation='90', fontsize=16)
plt.yticks(fontsize=15)
plt.xlabel('Country Name', fontsize=22)

fig.tight_layout()

Noter les pays selon le salaire moyen statutaires annuel des enseignants - Tertiaire

In [ ]:
df1_t_ens_coef = df1_Data_17_ens_t_merge

# Calculer la note
df1_t_ens_coef['Coefficient'] = 2
df1_t_ens_coef['Score'] = 0
df1_t_ens_coef['Resultat_salaire_t'] = 0

note = len(df1_Data_17_ens_t_merge['Country Name'])

for i in range (len(df1_Data_17_ens_t_merge['Country Name'])):
  # if  (df1_Data_17_ens_t_merge['Country Name'].values[i] = df1_Data_17_ens_t_merge['Country Name'].values[i]): 
  df1_t_ens_coef['Score'].values[i] = note
  df1_t_ens_coef['Resultat_salaire_t'].values[i] = df1_t_ens_coef['Coefficient'].values[i] * note
  note=note-1

Nombre moyen d'élèves par enseignant (enseignement secondaire)

In [ ]:
sns.set_style("darkgrid")

df1_Data_17_s_total = df1_Data_17_mean[df1_Data_17_mean["Indicator Name"] == v_indicateur_secondary_total]
df1_Data_17_ts = df1_Data_17_mean[df1_Data_17_mean["Indicator Name"] == v_indicateur_ts]

# Faire une jointure entre deux dataframe pour ne plus afficher des continents comme des pays
df1_Data_17_s_total = pd.merge(df1_Data_17_s_total,
                                      df1_Data_17_ts[['Country Name','Moyenne Indicateur 2000 2016']],
                                      on ='Country Name',
                                      how ='inner')

# Faire une jointure entre deux dataframe pour conserver que les pays avec un taux élevé des inscriptions  
df1_Data_17_s_total = pd.merge(df1_Data_17_s_total,
                                      df1_secondary_tertiary['Country Name'],
                                      on ='Country Name',
                                      how ='inner')

df1_Data_17_s_total["ratio_student_teacher"] = df1_Data_17_s_total['Moyenne Indicateur 2000 2016_x']/df1_Data_17_s_total['Moyenne Indicateur 2000 2016_y']

# trier en ordre décroissant
df1_Data_17_s_total = df1_Data_17_s_total.sort_values(by=['ratio_student_teacher'],ascending=False)

labels_s_total = df1_Data_17_s_total['Country Name'].values

x_s_total = np.arange(len(labels_s_total)) 

width = 0.50  # the width of the bars

fig, ax = plt.subplots()

rects11 = ax.bar(x_s_total,df1_Data_17_s_total['ratio_student_teacher'], 
                width, color='#CA0000', edgecolor="black", align='center')

# Ajouter les annotations sur les barres
for p in ax.patches:
    width, height = p.get_width(), p.get_height()
    x, y = p.get_xy() 
    plt.annotate(np.round(p.get_height(),decimals=2),
                (p.get_x()+p.get_width()/2, p.get_height()),
                ha='center',
                va='center',
                xytext=(0, 10),
                textcoords='offset points',
                fontsize = 15,
                #  rotation='vertical',
                )

# Add some text for labels, title and custom x-axis tick labels, etc.
fig.set_size_inches(15, 6)
ax.set_ylabel('In number', fontsize=18)
ax.set_title('Pupil-teacher ratio in secondary education - Average from 2000 to 2016\n', fontsize=18)
ax.set_xticks(x_s_total)
ax.set_xticklabels(labels_s_total)
plt.xticks(rotation='90', fontsize=16)
plt.yticks(fontsize=15)
plt.xlabel('Country Name', fontsize=22)

fig.tight_layout()

Noter les pays selon le nombre moyen d'élèves par enseignant - Secondaire

In [ ]:
df1_s_total_coef = df1_Data_17_s_total

# Calculer la note
df1_s_total_coef['Coefficient'] = 2
df1_s_total_coef['Score'] = 0
df1_s_total_coef['Resultat_ratio_st_s'] = 0

note = len(df1_Data_17_s_total['Country Name'])

for i in range (len(df1_Data_17_s_total['Country Name'])):
  # if  (df1_Data_17_s_total['Country Name'].values[i] = df1_Data_17_s_total['Country Name'].values[i]): 
  df1_s_total_coef['Score'].values[i] = note
  df1_s_total_coef['Resultat_ratio_st_s'].values[i] = df1_s_total_coef['Coefficient'].values[i] * note
  note=note-1

Nombre moyen d'élèves par enseignant (enseignement supérieur)

In [ ]:
sns.set_style("darkgrid")

df1_Data_17_t_total = df1_Data_17_mean[df1_Data_17_mean["Indicator Name"] == v_indicateur_tap]
df1_Data_17_tt = df1_Data_17_mean[df1_Data_17_mean["Indicator Name"] == v_indicateur_tt]

# Faire une jointure entre deux dataframe pour ne plus afficher des continents comme des pays
df1_Data_17_t_total = pd.merge(df1_Data_17_t_total,
                                      df1_Data_17_tt[['Country Name','Moyenne Indicateur 2000 2016']],
                                      on ='Country Name',
                                      how ='inner')

# Faire une jointure entre deux dataframe pour conserver que les pays avec un taux élevé des inscriptions  
df1_Data_17_t_total = pd.merge(df1_Data_17_t_total,
                                      df1_secondary_tertiary[['Country Name']],
                                      on ='Country Name',
                                      how ='inner')

df1_Data_17_t_total["ratio_student_teacher"] = df1_Data_17_t_total['Moyenne Indicateur 2000 2016_x']/df1_Data_17_t_total['Moyenne Indicateur 2000 2016_y']

# trier en ordre décroissant
df1_Data_17_t_total = df1_Data_17_t_total.sort_values(by=['ratio_student_teacher'],ascending=False)



labels_t_total = df1_Data_17_t_total['Country Name'].values


x_t_total = np.arange(len(labels_t_total)) 

width = 0.50  # the width of the bars

fig, ax = plt.subplots()

rects12 = ax.bar(x_t_total,df1_Data_17_t_total['ratio_student_teacher'], 
                width, color='#86FFFA', edgecolor="black", align='center')

# Ajouter les annotations sur les barres
for p in ax.patches:
    width, height = p.get_width(), p.get_height()
    x, y = p.get_xy() 
    plt.annotate(np.round(p.get_height(),decimals=2),
                (p.get_x()+p.get_width()/2, p.get_height()),
                ha='center',
                va='center',
                xytext=(0, 10),
                textcoords='offset points',
                fontsize = 15,
                #  rotation='vertical',
                )

# Add some text for labels, title and custom x-axis tick labels, etc.
fig.set_size_inches(15, 6)
ax.set_ylabel('In number', fontsize=18)
ax.set_title('Pupil-teacher ratio in tertiary education - Average from 2000 to 2016\n', fontsize=18)
ax.set_xticks(x_t_total)
ax.set_xticklabels(labels_t_total)
plt.xticks(rotation='90', fontsize=16)
plt.yticks(fontsize=15)
plt.xlabel('Country Name', fontsize=22)

fig.tight_layout()

Noter les pays selon le nombre moyen d'élèves par enseignant - Tertiaire

In [ ]:
df1_t_total_coef = df1_Data_17_t_total

# Calculer la note
df1_t_total_coef['Coefficient'] = 2
df1_t_total_coef['Score'] = 0
df1_t_total_coef['Resultat_ratio_st_t'] = 0

note = len(df1_Data_17_t_total['Country Name'])

for i in range (len(df1_Data_17_t_total['Country Name'])):
  # if  (df1_Data_17_t_total['Country Name'].values[i] = df1_Data_17_t_total['Country Name'].values[i]): 
  df1_t_total_coef['Score'].values[i] = note
  df1_t_total_coef['Resultat_ratio_st_t'].values[i] = df1_t_total_coef['Coefficient'].values[i] * note
  note=note-1

Taux de réussite du secondaire

In [ ]:
sns.set_style("darkgrid")

df1_Data_17_sec_compl = df1_Data_17_mean[df1_Data_17_mean["Indicator Name"] == v_indicateur_sec_compl]

# Faire une jointure entre deux dataframe pour conserver que les pays avec un taux élevé des inscriptions  
df1_Data_17_sec_compl = pd.merge(df1_Data_17_sec_compl,
                                      df1_secondary_tertiary['Country Name'],
                                      on ='Country Name',
                                      how ='inner')

# trier en ordre décroissant
df1_Data_17_sec_compl = df1_Data_17_sec_compl.sort_values(by=['Moyenne Indicateur 2000 2016'],ascending=True)

labels_sec_compl = df1_Data_17_sec_compl['Country Name'].values

x_sec_compl = np.arange(len(labels_sec_compl)) 

width = 0.50  # the width of the bars

fig, ax = plt.subplots()

rects13 = ax.bar(x_sec_compl,df1_Data_17_sec_compl['Moyenne Indicateur 2000 2016'], 
                width, color='#CA0000', edgecolor="black", align='center')

# Ajouter les annotations sur les barres
for p in ax.patches:
    width, height = p.get_width(), p.get_height()
    x, y = p.get_xy() 
    plt.annotate(np.round(p.get_height(),decimals=2),
                (p.get_x()+p.get_width()/2, p.get_height()),
                ha='center',
                va='center',
                xytext=(0, 10),
                textcoords='offset points',
                fontsize = 15,
                #  rotation='vertical',
                )

# Add some text for labels, title and custom x-axis tick labels, etc.
fig.set_size_inches(15, 6)
ax.set_ylabel('In %', fontsize=18)
ax.set_title('Lower secondary completion rate - Average from 2000 to 2016\n', fontsize=18)
ax.set_xticks(x_sec_compl)
ax.set_xticklabels(labels_sec_compl)
plt.xticks(rotation='90', fontsize=16)
plt.yticks(fontsize=15)
plt.xlabel('Country Name', fontsize=22)

fig.tight_layout()

Noter les pays selon le taux de réussite - secondaire

In [ ]:
df1_s_compl_coef = df1_Data_17_sec_compl

# Calculer la note
df1_s_compl_coef['Coefficient'] = 1
df1_s_compl_coef['Score'] = 0
df1_s_compl_coef['Resultat_diplome_s'] = 0

note = len(df1_Data_17_sec_compl['Country Name'])

for i in range (len(df1_Data_17_sec_compl['Country Name'])):
  # if  (df1_Data_17_sec_compl['Country Name'].values[i] = df1_Data_17_sec_compl['Country Name'].values[i]): 
  df1_s_compl_coef['Score'].values[i] = note
  df1_s_compl_coef['Resultat_diplome_s'].values[i] = df1_s_compl_coef['Coefficient'].values[i] * note
  note=note-1

Le pourcentage des diplômés de l'enseignement supérieur

In [ ]:
sns.set_style("darkgrid")

df1_Data_17_grdt = df1_Data_17_mean[df1_Data_17_mean["Indicator Name"] == v_indicateur_t_grdt]
df1_Data_17_tap = df1_Data_17_mean[df1_Data_17_mean["Indicator Name"] == v_indicateur_tap]

# Faire une jointure entre deux dataframe pour ne plus afficher des continents comme des pays
df1_Data_17_grdt = pd.merge(df1_Data_17_grdt,
                                      df1_Data_17_tap[['Country Name','Moyenne Indicateur 2000 2016']],
                                      on ='Country Name',
                                      how ='inner')

# Faire une jointure entre deux dataframe pour conserver que les pays avec un taux élevé des inscriptions  
df1_Data_17_grdt = pd.merge(df1_Data_17_grdt,
                                      df1_secondary_tertiary[['Country Name']],
                                      on ='Country Name',
                                      how ='inner')

df1_Data_17_grdt["Percentage_graduates_tertiary"] = df1_Data_17_grdt['Moyenne Indicateur 2000 2016_x']/df1_Data_17_grdt['Moyenne Indicateur 2000 2016_y']

# trier en ordre décroissant
df1_Data_17_grdt = df1_Data_17_grdt.sort_values(by=['Percentage_graduates_tertiary'],ascending=True)



labels_grdt = df1_Data_17_grdt['Country Name'].values


x_grdt = np.arange(len(labels_grdt)) 

width = 0.50  # the width of the bars

fig, ax = plt.subplots()

rects14 = ax.bar(x_grdt,df1_Data_17_grdt['Percentage_graduates_tertiary']*100, 
                width, color='#86FFFA', edgecolor="black", align='center')

# Ajouter les annotations sur les barres
for p in ax.patches:
    width, height = p.get_width(), p.get_height()
    x, y = p.get_xy() 
    plt.annotate(np.round(p.get_height(),decimals=2),
                (p.get_x()+p.get_width()/2, p.get_height()),
                ha='center',
                va='center',
                xytext=(0, 10),
                textcoords='offset points',
                fontsize = 15,
                #  rotation='vertical',
                )

# Add some text for labels, title and custom x-axis tick labels, etc.
fig.set_size_inches(15, 6)
ax.set_ylabel('In %', fontsize=18)
ax.set_title('Graduates from tertiary education - Average from 2000 to 2016\n', fontsize=18)
ax.set_xticks(x_grdt)
ax.set_xticklabels(labels_grdt)
plt.xticks(rotation='90', fontsize=16)
plt.yticks(fontsize=15)
plt.xlabel('Country Name', fontsize=22)

fig.tight_layout()

Noter les pays selon le taux de réussite - Tertiaire

In [ ]:
df1_t_compl_coef = df1_Data_17_grdt

# Calculer la note
df1_t_compl_coef['Coefficient'] = 1
df1_t_compl_coef['Score'] = 0
df1_t_compl_coef['Resultat_diplome_t'] = 0

note = len(df1_Data_17_grdt['Country Name'])

for i in range (len(df1_Data_17_grdt['Country Name'])):
  # if  (df1_Data_17_grdt['Country Name'].values[i] = df1_Data_17_grdt['Country Name'].values[i]): 
  df1_t_compl_coef['Score'].values[i] = note
  df1_t_compl_coef['Resultat_diplome_t'].values[i] = df1_t_compl_coef['Coefficient'].values[i] * note
  note=note-1

Calculer la note de chaque pays

In [ ]:
data_frames_coef = [df1_secondary_coef[['Country Name','Resultat_secondary']],
                    df1_tertiary_coef[['Country Name','Resultat_tertiary']], 
                    df1_s_internet_coef[['Country Name','Resultat_internet']], 
                    df1_pop_coef[['Country Name','Resultat_pop']], 
                    df1_s_pg_coef[['Country Name','Resultat_pg']], 
                    df1_RNB_coef[['Country Name','Resultat_RNB']], 
                    df1_s_rd_coef[['Country Name','Resultat_remuneration_s']], 
                    df1_t_rd_coef[['Country Name','Resultat_remuneration_t']], 
                    df1_s_ens_coef[['Country Name','Resultat_salaire_s']], 
                    df1_t_ens_coef[['Country Name','Resultat_salaire_t']], 
                    df1_s_compl_coef[['Country Name','Resultat_diplome_s']], 
                    df1_t_compl_coef[['Country Name','Resultat_diplome_t']], 
                    df1_s_total_coef[['Country Name','Resultat_ratio_st_s']],
                    df1_t_total_coef[['Country Name','Resultat_ratio_st_t']]
                    ]

data_frames_coef_merge = reduce(lambda  left,right: pd.merge(left,right,on=['Country Name'],
                                            how='left'), data_frames_coef)

# Faire une jointure entre deux dataframe pour conserver que les pays du secondaire et supérieur  
data_frames_coef_merge = pd.merge(data_frames_coef_merge,
                                      df1_secondary_tertiary['Country Name'],
                                      on ='Country Name',
                                      how ='inner')

# data_frames_coef_merge = data_frames_coef_merge.fillna(value=0)

data_frames_coef_merge ['Note'] = data_frames_coef_merge.mean(axis=1)
data_frames_coef_merge = data_frames_coef_merge.sort_values(by=['Note'],ascending=False)

data_frames_coef_merge = data_frames_coef_merge.reset_index(drop=True)
data_frames_coef_merge

Graphique du système de notation par pays

In [ ]:
sns.set_style("darkgrid")

labels_coef = data_frames_coef_merge['Country Name'].values

x_coef = np.arange(len(labels_coef)) 

width = 0.50  # the width of the bars

fig, ax = plt.subplots()

rects15 = ax.bar(x_coef,data_frames_coef_merge['Note'], 
                width, color='blue', edgecolor="black", align='center')

# Ajouter les annotations sur les barres
for p in ax.patches:
    width, height = p.get_width(), p.get_height()
    x, y = p.get_xy() 
    plt.annotate(np.round(p.get_height(),decimals=2),
                (p.get_x()+p.get_width()/2, p.get_height()),
                ha='center',
                va='center',
                xytext=(0, 10),
                textcoords='offset points',
                fontsize = 15,
                #  rotation='vertical',
                )

# Ajouter des textes aux labels, titre etc.
fig.set_size_inches(15, 6)
ax.set_ylabel('Rating', fontsize=18)
ax.set_title('Country rating - Secondary and Tertiary education - Average from 2000 to 2016\n', fontsize=18)
ax.set_xticks(x_coef)
ax.set_xticklabels(labels_coef)
plt.xticks(rotation='90', fontsize=16)
plt.yticks(fontsize=15)
plt.xlabel('Country Name', fontsize=22)

fig.tight_layout()